{% extends 'base.html.twig' %}

{% block title %}Studenci{% endblock %}

{% block body %}
    <h2>Lista studentów:</h2>

    {% for student in studenci %}
        <h4>{{ student.imie}} {{ student.nazwisko }}</h4>
    {% endfor %}
{% endblock %}
